<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huoxy.googleofficialpractice">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".apiguide.ApiGuideActivity"
            android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"
                />
        </activity>
        <activity android:name=".training.TrainingActivity" />
        <activity android:name=".training.chapter2.ContentSharingActivity">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.huoxy.googleofficialpractice.myprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".training.chapter3.PhotoAndVideoWithCameraActivity" />
        <activity android:name=".training.chapter4.Chapter4Activity" />
        <activity android:name=".apiguide.chapter1.AppComponentActivity" />
        <activity android:name=".apiguide.chapter1.FragmentTransitionActivity" />
        <activity android:name=".apiguide.chapter1.LoaderActivity" />
        <activity android:name=".apiguide.chapter1.ServiceActivity" />

        <service
            android:name=".apiguide.chapter1.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".apiguide.chapter1.MessengerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".apiguide.chapter1.AidlService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".apiguide.chapter1.ContentProviderActivity" />
        <activity android:name=".apiguide.chapter2.AppResourcesActivity" />
        <activity android:name=".apiguide.chapter3.UserInterfaceActivity"
            android:windowSoftInputMode="adjustResize"></activity>
    </application>

</manifest>