<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huoxy.googleofficialpractice">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--<uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />-->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".apiguide.ApiGuideActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".training.TrainingActivity" />
        <activity android:name=".training.chapter2.ContentSharingActivity">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.huoxy.googleofficialpractice.myprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".training.chapter3.PhotoAndVideoWithCameraActivity" />
        <activity android:name=".training.chapter4.Chapter4Activity" />
        <activity android:name=".apiguide.chapter1.AppComponentActivity" />
        <activity android:name=".apiguide.chapter1.FragmentTransitionActivity" />
        <activity android:name=".apiguide.chapter1.LoaderActivity" />
        <activity android:name=".apiguide.chapter1.ServiceActivity" />

        <service
            android:name=".apiguide.chapter1.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".apiguide.chapter1.MessengerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".apiguide.chapter1.AidlService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".apiguide.chapter1.ContentProviderActivity" />
        <activity android:name=".apiguide.chapter2.AppResourcesActivity" />
        <activity
            android:name=".apiguide.chapter3.UserInterfaceActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- 搜索 -->
        <activity android:name=".apiguide.chapter3.SearchActivity">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".apiguide.chapter3.SearchableActivity" />
        </activity>
        <activity
            android:name=".apiguide.chapter3.SearchableActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".apiguide.chapter3.DragAndDropActivity" />
        <activity android:name=".apiguide.chapter4.AnimationGraphicActivity" />
        <activity android:name=".apiguide.chapter5.MediaActivity" />

        <service android:name=".apiguide.chapter5.MediaPlaybackService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <activity android:name=".apiguide.chapter5.MediaPlayerActivity" />
        <activity
            android:name=".apiguide.chapter5.CameraActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".apiguide.chapter6.LocationSensorsActivity" />
        <activity android:name=".apiguide.chapter7.ConnectivityActivity"></activity>
    </application>

</manifest>